* {
  font-size: 18px;
  font-family: "Roboto Condensed";
}

html,
body {
  background-color: #40b4a600;
  position: relative;
}
.homebackground {
  width: 100%;
  height: 50px;
  object-fit: cover;
  position: static;
}

.fixbar {
  height: 30px;
  position: absolute;
  left: 25%;
  border: 5px;
  border-radius: 20px;
  align-items: center;
  top: 22px;
  /* right:0 height: 30px; */
  background: rgb(231, 212, 212);
  /* z-index: 1; */
}

.bgimage {
  object-fit: fill;
  width: 100%;
  height: 95vh;
}

.slider {
  position: absolute;
  top: 40%;
  left: 10%;
  /* transform: translate(-50%,-50%); */
  width: 500px;
  height: 60px;
  padding: 30px;
  padding-left: 40px;
  transform: rotate(270deg);
  background: transparent;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #7e6d5766;
}
.slider label {
  font-size: 24px;
  font-weight: 400;
  font-family: Open Sans;
  padding-left: 10px;
  color: rgb(0, 0, 0);
}
.slider input[type="range"] {
  width: 420px;
  height: 2px;
  background: rgb(238, 0, 0);
  border: none;
  outline: none;
}

.mapmarker {
  position: absolute;
  top: 40%;
  left: 50%;
  color: blue;
}

.fader {
  transform: rotate(90deg);
}

.btn1 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  animation: 1s ease-out 0s 1 slideInFromUp;
}

/* Darker background on mouse-over */
.btn1:hover {
  color: rgba(243, 30, 30, 0.938);
}

.btn2 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromUp;
  top: 60%;
  left: 70%;
}

/* Darker background on mouse-over */
.btn2:hover {
  color: rgb(240, 225, 13);
}
.btn3 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromUp;
  top: 60%;
  left: 40%;
}

/* Darker background on mouse-over */
.btn3:hover {
  color: black;
}
.btn4 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromUp;
  top: 55%;
  left: 10%;
}

/* Darker background on mouse-over */
.btn4:hover {
  color: black;
}
.btn5 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromUp;
  top: 45%;
  left: 25%;
}

/* Darker background on mouse-over */
.btn5:hover {
  color: black;
}
.btn6 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromUp;
  top: 55%;
  left: 85%;
}

/* Darker background on mouse-over */
.btn6:hover {
  color: black;
}

@media only screen and (max-width: 750px) {
  .fixbar {
    display: none;
    height: 10px;
    position: fixed;
    /* left: 25%; */
    border: 2px;
    border-radius: 20px;
    align-items: center;
    top: 8px;
    /* right:0 height: 30px; */
    background: rgb(231, 212, 212);
    /* z-index: 1; */
  }

  .homebackground {
    width: 100%;
    height: 30px;
    object-fit: fill;
    /* position: absolute; */
  }
  .bgimage {
    object-fit: fill;
    width: 100%;
    height: 600px;
    margin: 0;
  }
  h6 {
    font-size: 12px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  .img-size {
    height: 450px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    width: 55vw;
    height: 20vh;
  }
}

.navbar {
  /* animation: 1s ease-out 0s 1 slideInFromUp;8 */
}

/* @keyframes slideInFromUp {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0);
  }
} */

.img-size {
  /* 	padding: 0;
    margin: 0; */
  height: 450px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  width: 35vw;
  height: 30vh;
}
.modal-content {
  width: 900px;
  border: none;
}
.modal-body {
  padding: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}

.card {
  top: 50% !important;
  position: absolute;
  background-color: rgba(127, 255, 212, 0.132);
}

.text-block {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.transparent-text {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: center !important;
}

.checked {
  color: orange;
}

.modal {
  height: 200px;
  position: relative;
  border: 3px solid black;
}

.img-size {
}

.modal-dialog {
  margin: 0;
  position: absolute;
  top: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
